:root {
  --turn-color: rgb(254, 127, 0);
  --cost-color: rgb(0, 26, 255);
  --atk-color: rgb(212, 60, 60);
  --heal-color: rgb(0, 186, 0);
  --player-color: #388eff;
  --menu-color: #9b842d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", cursive;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("/src/img/background-dark.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* game menu */
.game-menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-menu--container {
  z-index: 1002;
  color: var(--menu-color);

  display: grid;
  grid-template-rows: 1fr 100px;
  justify-content: space-around;
  height: 100%;
}
.game-menu--start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  cursor: pointer;
}
.game-menu--start:hover .game-menu--start--text {
  font-size: 1.2rem;
}
.game-menu--start--logo {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  width: 275px;
}
.game-menu--start--text {
  text-align: center;
  padding: 1rem;
  display: block;
  transition: all 1s;
  width: 100%;
  font-size: 1rem;
}
/* logo animation */
@keyframes floating {
  0% {
    transform: translate(0, -30px);
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, -30px);
  }
}
a {
  text-decoration: none;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1003;
  font-size: 1rem;
  transition: all 3s;
}
.fa-brands {
  font-size: 2rem;
  color: var(--menu-color);
}
.fa-brands:hover {
  opacity: 0.7;
  cursor: pointer;
}
.fa-brands:active {
  opacity: 0.5;
}
.footer--author {
  font-size: 0.8rem;
  padding: 0.5rem;
  text-align: center;
}
.game-menu--background {
  z-index: 1000;
  height: 100vh;
  width: 100%;
  position: absolute;
}
/* the actual game */

.game {
  opacity: 0;
  height: 100vh;
  max-height: 900px;
  transition: opacity 5s;
  width: 100vw;
  max-width: 1024px;
  position: relative;
  display: grid;
  grid-template-rows: 0.3fr 1fr 125px;
}
.next-turn--container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1;
  display: none;
  opacity: 0;
  transition: all 1s;
}
.next-turn--text {
  color: white;
  text-shadow: var(--player-color) 0.2rem 0.2rem 0;
  font-size: 3rem;
}
.enemy-side {
  width: 100%;
  position: relative;
}
.enemy-side:hover .enemy-section--discription {
  opacity: 1;
}
.timer {
  font-size: 1rem;
  position: absolute;
  left: 0;
  z-index: 2;
}

.enemy-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url("../img/enemy-background.png");
  background-size: cover;
  border-top: ridge var(--atk-color);
  border-right: ridge var(--atk-color);
  border-left: ridge var(--atk-color);
  border-bottom: solid rgb(48, 24, 0);
  border-width: 0.4rem 0.4rem 0.2rem 0.4rem;
  position: relative;
}
.enemy-section--hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin: 1rem;
  flex-direction: column;
}
.enemy-section--hero--img {
  height: inherit;
  border: ridge 0.2rem var(--atk-color);
}
.enemy-section--hero--health {
  border: ridge 0.2rem var(--atk-color);
  color: rgb(171, 0, 0);
  font-weight: bold;
  font-size: 0.5rem;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  background-color: white;
  margin-top: -1rem;
}
.enemy-section--discription {
  line-height: 120%;
  padding: 1rem;
  position: absolute;
  font-size: 0.5rem;
  background-color: brown;
  border: ridge 0.2rem var(--atk-color);
  transition: all 0.3s;
  opacity: 0;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
}
.turn-counter {
  font-size: 1rem;
  text-align: center;
  position: absolute;
  right: 0;
  z-index: 2;
  max-width: 6rem;
}
.turn-counter,
.timer {
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
.timer,
.turn-counter,
.player--left-section,
.player--right-section {
  text-shadow: 2px 2px var(--player-color);
  color: white;
}

.player-side {
  width: 100%;
  position: relative;
  display: flex;
}
.player--left-section,
.player--right-section {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.player--left-section {
  display: flex;
  align-items: center;
  row-gap: 1rem;
  flex-direction: column;
  justify-content: center;
  left: 30;
  z-index: 10;
}
.skull-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
}
.skull {
  width: 100%;
}
.deck-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 30px;
}
.deck {
  width: 100%;
  border: ridge 0.2rem var(--player-color);
}
.skull-number,
.deck-number {
  font-size: 0.8rem;
  color: white;
  display: inline;
}
.player--mid-section {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 1rem 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../img/player-background.png");
  border-top: solid rgb(48, 24, 0);
  border-right: ridge var(--player-color);
  border-left: ridge var(--player-color);
  border-bottom: ridge var(--player-color);
  border-width: 0.4rem 0.4rem 0.4rem 0.4rem;
  background-size: cover;
}
.board {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}
.board--card {
  height: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  flex-direction: column;
}
.board--card--img {
  height: 100%;
  border: ridge 0.2rem var(--player-color);
}
.board--card--stat-container {
  display: flex;
  justify-content: center;
}
.board--card--action-stat {
  color: var(--atk-color);
}
.board--card--turn-stat {
  color: var(--turn-color);
}
.board--card--turn-stat,
.board--card--action-stat {
  text-align: center;
  font-size: 1rem;
}
.hero {
  padding: 1rem 0;
  width: 6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero--img {
  border: ridge 0.2rem var(--player-color);
  width: 100%;
}
.hero--health {
  border: ridge 0.2rem var(--player-color);
  color: rgb(171, 0, 0);
  font-weight: bold;
  font-size: 1rem;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  background-color: white;
  margin-top: -1rem;
  transition: background-color 1s;
}

/* player right side*/
.player--right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1rem;
  right: 0;
}
.buttons {
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mana--counter {
  border: ridge 0.2rem var(--player-color);
  background-color: var(--cost-color);
  padding: 0.2rem;
  color: white;
  font-size: 1.2rem;
  text-shadow: none;
}
.mana--container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  flex-wrap: wrap;
  row-gap: 0.1rem;
  padding: 0.2rem 0;
}
.mana {
  border-radius: 50%;
  border: solid 0.2rem var(--player-color);
  padding: 0.1rem;
  background: rgb(0, 167, 255);
  background: radial-gradient(
    circle,
    rgba(0, 167, 255, 1) 0%,
    rgba(86, 9, 121, 0.6727065826330532) 50%,
    rgba(0, 232, 255, 0) 100%
  );
}
.buttons button {
  font-size: 1rem;
  font-family: "Press Start 2P", cursive;
  color: white;
  padding: 0.4rem 1rem;
  background-color: var(--cost-color);
  border: ridge 0.2rem var(--player-color);
  cursor: pointer;
  transition: all 0.2s;
}
.buttons button:hover {
  background-color: #ffffff;
  color: black;
}
/* player hand styling*/
.hand {
  padding: 0.2rem;
  width: 100%;
  display: flex;
  gap: 0.1rem;
  justify-content: center;
  align-items: center;
}
.card,
.hover-view {
  border: ridge 0.1rem var(--player-color);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.1rem;
  height: 100%;
  width: 4rem;
  padding: 0.2rem;
  max-height: 100px;
  background-color: rgb(255, 230, 165);
  transition: all 0.5s;
  cursor: pointer;
  text-align: center;
  position: relative;
}
.hover-view {
  opacity: 0;
  position: absolute;
  top: 100px;
  height: 100px;
}
.hover-view:hover {
  display: none;
}
.card:hover {
  transform: translateY(-2rem);
}
.card--cost {
  color: var(--cost-color);
}
.card--img {
  border: ridge 0.1rem var(--player-color);
  width: 100%;
  height: 40px;

  object-fit: cover;
}
.card--name {
  font-size: 0.4rem;
  width: 100%;
  font-weight: bold;
}
.card--ability {
  font-size: 0.3rem;
  width: 100%;
  position: absolute;
  bottom: 15;
}
.card--stat-container {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 0.1rem;
  justify-content: space-between;
  width: 100%;
  text-align: end;
}
.card--action-stat {
  color: var(--atk-color);
}
.card--turn-stat {
  color: var(--turn-color);
}
.card--turn-stat,
.card--action-stat,
.card--cost {
  font-size: 0.6rem;
}
/* game end styling */
.end-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  color: var(--menu-color);
  text-align: center;
  padding: 1rem;
  margin-top: 5rem;
}
.end-game--message {
  font-size: 1.5rem;
}
.healer {
  color: white;
  color: var(--heal-color);
}
.shake-animation {
  animation: tilt-n-move-shaking 0.15s infinite;
}
@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
