:root {
  --turn-color: rgb(254, 127, 0);
  --cost-color: rgb(0, 26, 255);
  --atk-color: rgb(207, 0, 0);
  --heal-color: rgb(0, 186, 0);
  --player-color: #388eff;
  --menu-color: #9b842d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* flex shortcut */
.board {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}

/* player board styling */

/* hover-view styling */
/* .hover-view:hover {
  display: none;
} */
/* .hover-view--cost {
  position: absolute;
  color: rgb(255, 255, 255);
  border: ridge 10px var(--player-color);
  background-color: rgb(0, 26, 255);
  border-radius: 50%;
  top: -20px;
  font-size: 40px;
  left: -30px;
}
.hover-view--img {
  border: ridge 8px var(--player-color);
  height: 45%;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
  object-fit: cover;
}
.hover-view--name {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  line-height: 120%;
}
.hover-view--ability {
  padding: 0 10px;
  font-size: 15px;
  text-align: center;
}
.hover-view--left-stat {
  position: absolute;
  color: rgb(255, 255, 255);
  border: ridge 10px var(--player-color);
  background-color: var(--atk-color);
  border-radius: 50%;
  bottom: -20px;
  font-size: 40px;
  left: -30px;
  text-align: center;
}
.hover-view--turn-stat {
  position: absolute;
  color: rgb(255, 255, 255);
  border: ridge 10px var(--player-color);
  background-color: var(--turn-color);
  border-radius: 50%;
  bottom: -20px;
  font-size: 40px;
  right: -30px;
  text-align: center;
} */
