:root {
  --turn-color: rgb(254, 127, 0);
  --cost-color: rgb(0, 26, 255);
  --atk-color: rgb(207, 0, 0);
  --heal-color: rgb(0, 186, 0);
  --player-color: #388eff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* flex shortcut */
body,
.enemy-section,
.turn-counter,
.timer,
.player--mid-section,
.board,
.player--right-section,
.buttons,
.mana--container,
.enemy-section--hero,
.player--left-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  font-family: "Press Start 2P", cursive;
  height: 100%;
  overflow: hidden;
}

.game {
  width: 1920px;
  height: 100vh;
  max-width: 1920px;
  max-height: 1080px;
  background-color: rgba(182, 100, 0, 0.705);
}
.enemy-side,
.player-side {
  display: flex;
  justify-content: space-between;
}
.enemy-side {
  background-color: brown;
  height: 40%;
}
.enemy-section {
  height: 100%;
}
.enemy-section--hero {
  height: 60%;
  margin: 50px;
  flex-direction: column;
}
.enemy-section--hero--img {
  height: 100%;
  border: ridge 20px rgb(171, 0, 0);
}
.enemy-section--hero--health {
  border: ridge 20px rgb(171, 0, 0);
  color: rgb(171, 0, 0);
  font-weight: bold;
  font-size: 100%;
  padding: 4% 3%;
  background-color: white;
  margin-top: -20%;
}

.turn-counter {
  font-size: 400%;
  text-align: center;
}

.player-side {
  height: 60%;
  background-color: blue;
}

.enemy-section,
.player--mid-section {
  width: 50%;
  background-color: aqua;
}

.timer {
  font-size: 700%;
}
section div {
  font-size: 50px;
}

.timer,
.turn-counter,
.player--left-section,
.player--right-section {
  width: 25%;
}

.player--mid-section {
  flex-direction: column;
  border-top: solid;
}

/*////// player left side styling /////// */

.player--left-section {
  flex-direction: column;
  row-gap: 15%;
}
.skull {
  width: 50%;
}
.deck {
  width: 40%;
  border: ridge 10px var(--player-color);
  border-radius: 20px;
}

/* ///////player board styling//////// */

.board {
  height: 20%;
  margin-top: 5%;
}
.board--card {
  margin: 0 10px 0 10px;
  border: ridge 10px var(--player-color);
  height: 100%;
  position: relative;
}
.board--card--img {
  height: 100%;
}
.board--card--left-stat {
  color: white;
  left: -15%;
  background-color: var(--atk-color);
}
.healer {
  color: white;
  background-color: var(--heal-color);
}

.board--card--turn-stat,
.board--card--left-stat {
  height: 50%;
  width: 50%;
  text-align: center;
  position: absolute;
  font-size: 70%;
  border: ridge 8px var(--player-color);
  border-radius: 50%;
  top: 70%;
}
.board--card--turn-stat {
  color: white;
  right: -15%;
  background-color: var(--turn-color);
}

/* ///////player hero styling//////// */

.hero {
  height: 25%;

  margin: 3% 0 2% 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero--img {
  border: ridge 15px var(--player-color);
  height: 100%;
  display: block;
}

.hero--health {
  border: ridge 15px var(--player-color);
  display: block;
  color: rgb(171, 0, 0);
  font-weight: bold;
  font-size: 60%;
  padding: 5% 2%;
  background-color: white;
  margin-top: -20%;
}
/*/ board-card-fullview */

.hover-view {
  border: ridge 15px var(--player-color);
  position: absolute;
  height: 350%;
  width: 200%;
  top: -400%;
  right: -50%;
  margin-top: 2%;
  padding: 10%;
  background-color: rgb(255, 230, 165);
  transition: all 0.5s;
  opacity: 0;
}
.hover-view--cost {
  position: absolute;
  color: rgb(255, 255, 255);
  border: ridge 10px var(--player-color);
  background-color: rgb(0, 26, 255);
  border-radius: 50%;
  top: -10%;
  font-size: 100%;
  left: -20%;
  width: 40%;
  text-align: center;
}
.hover-view--img-container {
  border: ridge 4px var(--player-color);
  width: 100%;
  height: 35%;
  margin-bottom: 5px;
}
.hover-view--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hover-view--name {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}
.hover-view--ability {
  font-size: 40%;
  text-align: center;
}
.hover-view--left-stat {
  position: absolute;
  color: rgb(255, 255, 255);
  border: ridge 10px var(--player-color);
  background-color: var(--atk-color);
  border-radius: 50%;
  bottom: -10%;
  font-size: 100%;
  left: -20%;
  width: 40%;
  text-align: center;
}
.hover-view--turn-stat {
  position: absolute;
  color: rgb(255, 255, 255);
  border: ridge 10px var(--player-color);
  background-color: var(--turn-color);
  border-radius: 50%;
  bottom: -10%;
  font-size: 100%;
  right: -20%;
  width: 40%;
  text-align: center;
}

/* ///////player hand styling//////// */

.hand {
  display: flex;
  justify-content: center;
  height: 40%;
  width: 100%;
  background-color: rgb(28, 28, 252);
  position: relative;
}
.hand--card {
  border: ridge 15px var(--player-color);
  position: absolute;
  height: 130%;
  width: 20%;
  top: 10%;
  margin-top: 2%;
  padding: 1%;
  background-color: rgb(255, 230, 165);
  transition: all 0.5s;
}
.hand--card:hover {
  top: -100%;
}
.hand--card--cost {
  position: absolute;
  color: rgb(255, 255, 255);
  border: ridge 10px var(--player-color);
  background-color: rgb(0, 26, 255);
  border-radius: 50%;
  top: -10%;

  /* padding-left: 5%; */
  font-size: 75%;
  left: -20%;

  text-align: center;
}
.hand--card--img-container {
  border: ridge 4px var(--player-color);
  width: 100%;
  height: 40%;
  margin-bottom: 5px;
}
.hand--card--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hand--card--name {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}
.hand--card--ability {
  font-size: 40%;
  text-align: center;
}
.hand--card--left-stat {
  position: absolute;
  color: rgb(255, 255, 255);
  border: ridge 10px var(--player-color);
  background-color: var(--atk-color);
  border-radius: 50%;
  bottom: -10%;
  font-size: 75%;
  left: -20%;
  width: 40%;
  text-align: center;
}
.hand--card--turn-stat {
  position: absolute;
  color: rgb(255, 255, 255);
  border: ridge 10px var(--player-color);
  background-color: var(--turn-color);
  border-radius: 50%;
  bottom: -10%;
  font-size: 75%;
  right: -20%;
  width: 40%;
  text-align: center;
}

/* ///////player right side//////// */
.player--right-section {
  flex-direction: column;
}
.buttons {
  height: 50%;
  flex-direction: column;
}
.mana--counter {
  border: ridge 10px var(--player-color);
  margin: 5% 0;
  border-radius: 20px;
  background-color: var(--cost-color);
  padding: 2% 5%;
}
.mana--container {
  height: 20%;
  gap: 5%;
  flex-wrap: wrap;
  row-gap: 10%;
}

.mana {
  width: 10%;
  height: 25%;
  border-radius: 50%;
  padding: 1.8rem;
  background: rgb(0, 167, 255);
  background: radial-gradient(
    circle,
    rgba(0, 167, 255, 1) 0%,
    rgba(86, 9, 121, 0.6727065826330532) 50%,
    rgba(0, 232, 255, 0) 100%
  );
}

.buttons button {
  font-size: 100%;
  padding: 15px 50px;
  font-family: "Press Start 2P", cursive;
  color: white;
  margin: 1rem;
  background-color: var(--cost-color);
  border: ridge 15px var(--player-color);
  border-radius: 25px;
}
